html, body {
    scroll-behavior: smooth;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

#header {
    background-color: #1d2120;
}

.header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.header-title {
    color: #ffffff;
    font-size: 36px;
}
.title-section {
    display: flex;
    flex-direction: column;
}
.title-section span {
    color: #7a8076;
    margin-left: 25px;
}
.header-nav {
    width: 50%;
    background-color: #232726;
    border: 1px solid #1f2322;
    border-radius: 20px;
    padding: 10px 0;
}
.menu-icon {
    display: none;
}
.nav-list { 
    display: flex;
    justify-content: space-evenly;
}
.nav-list_link {
    color: #7a7e7f;
    transition: 0.3s linear;
}
.nav-list_link:hover {
    color: #bdd155;
}
main {
    border-top: 5px solid #bdd155;
    border-bottom: 5px solid #bdd155;
}

#section-1 {
    width: 100%;
    height: 400px;
    background-color: #454545;
}

.section-content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

#section-1 .section-title {
    color: #fff;
    font-size: 40px;
    margin: 5px auto;
}
.section-description {
    color: #8e8f8b;
    font-size: 20px;
    margin: 5px auto;
}

#section-1 img  {
    height: 300px;
    width: 40%;
    border: 7px solid #b6b6b6;
}

.more-btn {
    margin: 5px 0;
    background-color: #bdd155;
    font-weight: bold;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 5px;
}

#section-2 {
    width: 100%;
}

.section-main {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#section-2 h2 {
    font-size: 30px;
    border-bottom: 2px solid #bdd155;
    padding-bottom: 10px;
}
.section-title span {
    text-transform: uppercase;
}
#section-2 .section-description {
    font-size: 16px;
}

.desc-intro {
    color: #000;
    margin: 15px auto;
}
.desc-intro a {
    text-decoration: underline;
}

.desc-body {
    margin: 15px auto;
}

.desc-list {
    list-style-type: square;
}
.desc-list_item {
    margin: 15px 30px;

}
.desc-outlined {
    margin: 15px auto;
    border-left: 7px solid #bdd155;
    padding-left: 15px;
}
aside {
    width: 35%;
}

aside .section-title {
    background-color: #454545;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px double #232726;
}
.post-ad:nth-child(odd) {
    background-color: #efefef;
    border-bottom: 1px double #dfdfdf;
}
.post-ads:nth-child(even) {
    border-color: #dfdfdf;
    border-bottom: 1px double #efefef;
}
.post-ad {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
.post-ad img{
    height: 100px;
    width: 100px;
    border: 7px solid #ffffff;
    margin-right: 15px;
}

.article-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.article-date {
    text-transform: uppercase;
    color: #b7b7b7;
    font-size: 14px;
}
.article-title {
    font-weight: bold;
}

.article-desc {
    font-size: 15px;
    width: 70%;
    margin: 5px 0;
}

#footer {
    background-color: #212524;
    width: 100%;
}

.footer-content {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-nav {
    width: 100%;
}

.footer-nav_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.main-item {
    width: 20%;
}
.footer-nav_link {
    background-color: #232726;
    border: 1px solid #1f2322;
    border-radius: 20px;
    padding: 10px;
    color: #fff;
}
.main-item,
.main-item ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 15px;
}
.sub-item {
    margin: 5px auto;
}
.sub-item_link,
.copyright a {
    color: #7a7e7f;
}

.copyright {
    margin: 15px 0;
    color: #454846;
}